*{
margin: 0px;
padding: 0px;
line-height: 1.5;
}

body{
/* box-sizing: border-box; */
box-sizing: 50%;
padding: 0px;
margin: 0px;
background-color: hsl(0, 17%, 95%);
}

header{
display: flex;
background-color: #fff;
margin: 10px;
padding: 1rem;
padding-left: 4rem;
/* position: fixed; */
}

.nav_links, .nav_links>span{
display: flex;
gap: 2rem;
}

.nav_links>li,a{
list-style-type:none;
text-decoration: none;
cursor: pointer;
color: black;
}

.nav_links_extra{
margin-left: 15rem;
cursor: pointer;
}

#deu{
color: blue;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
'Lucida Grande', 'Lucida Sans',
 Arial, sans-serif;
 font-size: 1.5rem;
 font-weight: bold;
}

#btn1{
border: 2px solid black;
border-radius: 8px;
/* color: #0000; */
background-color: #fff;
width: 5vw;
height: 3vh;
}

#btn2{
background-color:  blue;
color: #ffff;
border:  blue;
border-radius: 8px;
width: 7vw;
height: 3vh;
}

/* Styling the mini-buttons */
#gs{
background-color: blue;
color: #fff;
border: 3px solid blue;
border-radius: 2px;
width: 10vw;
height:4vh;
border-radius: 10px;
}
#dn{
background-color: azure;
width: 10vw;
height: 3.5vh;
border: 2.5px solid black;
border-radius: 10px;
}

main{
background-color: #fff;
}
/* Hero styling */

#hero{
padding:3rem 5rem;
}

.hero_page>span{
position: absolute;
left: 650px;
top: 110px;
}

.hero_page>h2{
font-size: 2.5rem;
padding-bottom: 10px;
}

.hero_page>p{
text-transform: capitalize;
}

#gh{
background-color: rgba(92, 43, 226, 0.829);
border: 2px solid rgba(92, 43, 226, 0.829);
width: 7vw;
height: 2vw;
border-radius: 10px;
color: #fff;
cursor: pointer;
}

.hero_contents{
padding-top:2rem;
padding-left: 2rem;
}
/* TOGGLE VISIBILITY OF LEADERSHIP */
#toggle1, #toggle_1{
font-size: 1.1rem;
font-weight: bold;
background-color: peachpuff;
padding: 10px;
cursor: pointer;
margin-top: 160px;
}

#toggle1:hover,#toggle_1:hover{
background-color: olive;
transition: 1s;
}

.hidden{
opacity: 1;
/* display: ; */
transition: 3s;
}
/* .hidden{
opacity: 100;
display: ;
transition: 3s;
} */

/* TOGGLE VISIBILITY OF LEADERSHIP */


/* This button styling below is for visibility/ background color toggle */

#toggle2{
font-size: 1.1rem;
font-weight: bold;
background-color: peachpuff;
padding: 10px;
cursor: pointer;
}

#toggle2:hover{
background-color: olive;
transition: 1s;
}
/* This button styling above is for visibility/ background color toggle */

/* Styling for the overlay */

.overlay{
/* background-color: green; */
}

/* styling for the overlay */



.hero_contents>div>h2{
padding-top: 1rem;
font-size: 2rem;
margin-left: 18px;
}

.hero_culture{
background-color: rgba(0, 255, 242, 0.103);
padding: 4rem;
}

.hero_culture>h2{
font-size: 2rem;
padding-bottom: 1rem;
}

.culture_stats{
display: flex;
flex-wrap: wrap;
}

.stats{
width: 500px;
margin: 12px;
margin-left: 2rem;
padding: 12px;
/* font-size: 1rem; */
}

/* Hero contents styling */
.contents_dropdown{
margin: 12px;
/* flex-wrap: wrap; */

}

/* Button styling to change image */

#toggle3{
font-size: 1.1rem;
font-weight: bold;
background-color: peachpuff;
padding: 10px;
cursor: pointer;
}

#toggle3:hover{
background-color: olive;
transition: 1s;
}

/* Button styling to change image */


.contents_dropdown>span{
margin: 12px;
}

#an{
background-color: rgba(92, 43, 226, 0.829);
border: 2px solid rgba(92, 43, 226, 0.829);
width: 7vw;
height: 2vw;
border-radius: 10px;
color: #fff;
cursor: pointer;
}

/* Footer section styling */

footer{
padding: 3rem 3rem;
height: fit-content;
background-color: rgb(21, 21, 90);
color: #fff;
}

#footer_content>div>h4{
padding-bottom: 10px;
}

#footer_content{
color: #fff;
display: flex;
gap: 2rem;
}

.footer_list{
margin-right: 2rem;
gap: 5rem;
justify-content: space-between;
padding-bottom: 3rem;
}


